:root {
  --mainPadding: 10px;
}

.articleTitle {
  text-align: center;
  margin: var(--mainPadding);
}

.articleImage img {
  width: 80%;
  height: 400px;
  display: block;
  margin: var(--mainPadding) auto;
}

.articleDetails {
  margin: var(--mainPadding);
  padding: var(--mainPadding);
}

hr {
  margin: var(--mainPadding);
}

@media (max-width: 767px) {
  .articleTitle h2 {
    font-size: 1rem;
  }

  .articleImage img {
    height: 200px;
  }
}